.agentname {
  font-size: xx-large;
}

.main-area {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.agent-card {
  display: inline-block;
  width: 350px;
}

.agent-right {
  display: inline-block;
  font-size: medium;
  width: 700px;
  padding-left: 50px;
}

img, image {
  width: 300px;
  height: 300px;
  /* border-radius: 5%; */
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
} 